<p>
  <strong>Sf Record Type:</strong>
  <%=h @sf_record_type.sf_record_type_id %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @sf_record_type.name %>
</p>
<p>
  <strong>Sfid:</strong>
  <%=h @sf_record_type.sfid %>
</p>
<p>
  <strong>Active:</strong>
  <%=h @sf_record_type.active %>
</p>
<p>
  <strong>Sla:</strong>
  <%=h @sf_record_type.sla %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @sf_record_type.description %>
</p>

<p>
  <%= link_to "Edit", edit_sf_record_type_path(@sf_record_type) %> |
  <%= link_to "Destroy", @sf_record_type, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sf_record_types_path %>
</p>
