<% form_for @query do |f| %>
  <%= f.error_messages %>
  <% if @query and @query.sf_record_types %>
    <% @sf_record_types_selected = @query.sf_record_types.collect %>
  <% end %>
  <p>
    <%= f.label :query_id %><br />
    <%= f.text_field :query_id %>
  </p>
  <p>
    <%= f.label :startdate %><br />
    <%= f.date_select :startdate %>
  </p>
  <p>
    <%= f.label :enddate %><br />
    <%= f.date_select :enddate %>
  </p>
  <p>
    <%= f.label :sf_record_types %><br />
    <%= select_tag "sf_record_type_ids[]", options_for_select(SfRecordType.find(:all, :conditions => { :active => true }).collect { |rt| [rt.name, rt.id] }, @query.sf_record_types.collect { |rt| rt.id }), {:multiple => true, :size => 6} %>
  </p>
  <p>
    <%= f.label :sf_users %><br />
    <%= select_tag "sf_user_ids[]", options_for_select(SfUser.find(:all).collect { |u| [u.name, u.id] }, @query.sf_users.collect { |u| u.id }), {:multiple => true, :size => 6} %> 
  </p>
  <p>
    <%= f.label :closed %><br />
    <%= f.check_box :closed %>
  </p>
  <p>
    <%= f.label :lastrun %><br />
    <%= f.datetime_select :lastrun %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
